<!DOCTYPE html>
<html>
<head>
<title>Daten</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
  <h1>Buchladen</h1>
</div>

<div class="navbar">
  <a href="#" class="active">Mein Konto</a>
  <a href="#">Katalog</a>
  <a href="#">Warenkorb</a>
  <a href="#">Kalender</a>
  <a href="#" class="right">Abmelden</a>
</div>

<div class="topnav">
  <a href="#sort">Daten</a>
  <a href="#sort" class="active">Warenverwaltung</a>
  <a href="#sort">Kundenverwaltung</a>
  <a href="#sort">Genresverwaltung</a>
  <a href="#sort">Veranstaltungen</a>
</div>

  <div class="center">
    <h2>${name} - Mitarbeiter Ansicht</h2>
    <h5>Mitarbeiter-nummer: ${id}</h5>
</div>

<div class="center">
	 
	 	 <h4>Warenansicht:</h4> <!-- TODO: Dynamic list with MVC, now only a mock-up -->
	 <div>
		<table>
			<tr>
			<th>Typ <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
			<th>Genre <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
			<th>Titel <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
			<th>Preis <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
			<th>Anzahl <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
			</tr>
			  <tr>
				<td>Film</td>
				<td>Actionfilm</td>
				<td>ABC</td>
				<td>€36.66</td>
				<td>12</td>
			  </tr>
			  <tr>
				<td>Film</td>
				<td>Drama</td>
				<td>BCD</td>
				<td>€12.16</td>
				<td>6</td>
			  </tr>
			  <tr>
				<td>Buch</td>
				<td>Fantasy</td>
				<td>CDE</td>
				<td>€14.78</td>
				<td>32</td>
			  </tr>
			  <tr>
				<td>Buch</td>
				<td>Liebesroman</td>
				<td>DEF</td>
				<td>€10.43</td>
				<td>6</td>
			  </tr>
			  <tr>
				<td>Film</td>
				<td>Actionfilm</td>
				<td>EFG</td>
				<td>€14.16</td>
				<td>1</td>
			  </tr>
			  <tr>
				<td>Buch</td>
				<td>Fantasy</td>
				<td>FGH</td>
				<td>€23.54</td>
				<td>22</td>
			  </tr>
			  <tr>
				<td>Buch</td>
				<td>Biografie</td>
				<td>GHI</td>
				<td>€36.66</td>
				<td>3</td>
			  </tr>
			  <tr>
				<td>Buch</td>
				<td>Fachbuch</td>
				<td>HIJ</td>
				<td>€12.16</td>
				<td>21</td>
			  </tr>
			  <tr>
				<td>Film</td>
				<td>Historienfilm</td>
				<td>IJK</td>
				<td>€142.78</td>
				<td>34</td>
			  </tr>
			  
			  <tr>
				<td>Buch</td>
				<td>Fantasy</td>
				<td>JKL</td>
				<td>€10.43</td>
				<td>21</td>
			  </tr>
			 
			  <tr>
				<td>Buch</td>
				<td>Fantasy</td>
				<td>KLM</td>
				<td>€14.16</td>
				<td>55</td>
			  </tr>
			  <tr>
				<td>Film</td>
				<td>Horror</td>
				<td>LMN</td>
				<td>€23.54</td>
				<td>15</td>
			  </tr>
		</table>
	 </div>
	 
	 <button id="item_reg_btn" onclick="item_registration()" style="width: 210px; height: 70px; text-align: center; font-size: 20px;">Neue Ware hinzufügen</button>
	 <br>
	 <div id="item_reg" style="display: none;">
	 <h4>Ware registrieren:</h4>
	 </br>
		 <select class="select_menu" id="Select_reg" style="width: 150px;" value="Artikel" onchange="show_one_reg()">
			<option value="buch">Buch</option>
			<option value="film">CD/DVD</option>
		</select>
		<br></br>
		 <div id="book_select_reg" class="book-reg">
			<form th:value="#{catalog.add}" enctype="multipart/form-data">
			<label for="umschlag" th:text = "#{book.cover}"> Umschlag </label>
			<br></br>
			<input id="fileToUpload" type="file" value="Select image" name="fileToUpload" >
			<br></br>
			<input type="submit" th:value="#{catalog.add}" value="Umschlag hochladen" />
			</form>
			<br/>
			<label for="titel" th:text="#{article.title}">Titel</label><br />
			<input type="text" th:field="*{title}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="autor" th:text="#{article.author}">Autor</label><br />
			<input type="text" th:field="*{author}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="preis" th:text="#{article.price}">Preis</label><br />
			<input type="text" th:field="*{price}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="verlag" th:text="#{article.publisher}">Verlag</label><br />
			<input type="text" th:field="*{publisher}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="isbn" th:text="#{article.isbn}">ISBN</label><br />
			<input type="text" th:field="*{isbn}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="genre" th:text="#{article.genre}">Genre</label><br />
			<input type="text" th:field="*{genre}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="inhalt" th:text="#{article.description}">Beschreibung</label><br />
			<textarea rows="5" cols="25" type="text" th:field="*{description}" th:errorclass="is-invalid" required="required"></textarea>
		</div>
		<div id="film_select_reg" class="film-reg">
			<form th:value="#{catalog.add}" enctype="multipart/form-data">
			<label for="umschlag" th:text = "#{film.cover}"> Umschlag </label>
			<br></br>
			<input id="fileToUpload" type="file" value="Select image" name="fileToUpload" >
			<br></br>
			<input type="submit" th:value="#{catalog.add}" value="Umschlag hochladen" />
			</form>
			<br/>
			<label for="titel" th:text="#{article.title}">Titel</label><br />
			<input type="text" th:field="*{title}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="author" th:text="#{article.author}">Autor</label><br />
			<input type="text" th:field="*{author}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="preis" th:text="#{article.price}">Preis</label><br />
			<input type="text" th:field="*{price}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="genre" th:text="#{article.genre}">Genre</label><br />
			<input type="text" th:field="*{genre}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="inhalt" th:text="#{article.description}">Beschreibung</label><br />
			<textarea rows="5" cols="25" type="text" th:field="*{description}" th:errorclass="is-invalid" required="required"></textarea>
		</div>
		</br></br>
		<button id="add_article" type="button" class="submit_button">Registrieren</button>
	</div>
	</div>

<!-- Script making all "accordion" elements collapsible -->
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
	deactivate_all();
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
	  hide_all();
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script>
function item_registration() {
	var x = document.getElementById("item_reg");
	if(x.style.display == "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
}

function show_one_reg() {
    var x = document.getElementById("Select_reg").value;
	var book = document.getElementById("book_select_reg");
	var film = document.getElementById("film_select_reg");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function show_one_genre() {
    var x = document.getElementById("Select_genre").value;
	var book = document.getElementById("book_select_genre");
	var film = document.getElementById("film_select_genre");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function deactivate_all() {
	var all = document.getElementsByClassName("accordion");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].classList.remove("active");
	}
}

function hide_all() {
	var all = document.getElementsByClassName("panel");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].style.maxHeight = null;
	}
}
</script>

<footer>
<br>
<br>
<br>
</footer>

</body>
</html>