<!DOCTYPE html>
<html>
<head>
<title>Daten</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
  <h1>Buchladen</h1>
</div>

<div class="navbar">
  <a href="#" class="active">Mein Konto</a>
  <a href="#">Katalog</a>
  <a href="#">Warenkorb</a>
  <a href="#">Kalender</a>
  <a href="#" class="right">Abmelden</a>
</div>

<div class="topnav">
  <a href="#sort">Daten</a>
  <a href="#sort">Rechnungen</a>
  <a href="#sort">Warenverwaltung</a>
  <a href="#sort">Kundenverwaltung</a>
  <a href="#sort">Genresverwaltung</a>
  <a href="#sort" class="active">Veranstaltungen</a>
  <a href="#sort">Mitarbeiterverwaltung</a>
</div>

  <div class="center">
    <h2>${name} - Mitarbeiter Ansicht (Admin)</h2>
    <h5>Mitarbeiter-nummer: ${id}</h5>
</div>

<div class="center">
	<h2 > Oktober 2021</h2>
	</div>

		<div id="calendar-wrap">
    		<div id="calendar">
    			<ul class="weekdays">
    				<li>Sunday</li>
    				<li>Monday</li>
    				<li>Tuesday</li>
    				<li>Wednesday</li>
    				<li>Thursday</li>
    				<li>Friday</li>
    				<li>Saturday</li>
    			</ul>

    			<!-- Days from previous month -->

    			<ul class="days">
    				<li class="day other-month">
    					<div class="date">27</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">28</div>
    					<div class="event">
    						<div class="event-desc">
    							Lesung: Sophie Passman
    						</div>
    						<div class="event-time">
    							18:30
								Raum 2
    						</div>
    					</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">29</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">30</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">31</div>    					
    				</li>

    				<!-- Days in current month -->

    				<li class="day">
    					<div class="date">1</div>    					
    				</li>
    				<li class="day">
    					<div class="date">2</div>
    					<div class="event">
    						<div class="event-desc">
    							Lesung: Sybille Berg
    						</div>
    						<div class="event-time">
    							14:00
								Raum 2
    						</div>
    					</div>     					
    				</li>
    			</ul>

    				<!-- Row #2 -->

    			<ul class="days">
    				<li class="day">
    					<div class="date">3</div>    					
    				</li>
    				<li class="day">
    					<div class="date">4</div>    					
    				</li>
    				<li class="day">
    					<div class="date">5</div>    					
    				</li>
    				<li class="day">
    					<div class="date">6</div>    					
    				</li>
    				<li class="day">
    					<div class="date">7</div>
    					
    					   					
    				</li>
    				<li class="day">
    					<div class="date">8</div>    					
    				</li>
    				<li class="day">
    					<div class="date">9</div>    					
    				</li>
    			</ul>

    				<!-- Row #3 -->

    			<ul class="days">
    				<li class="day">
    					<div class="date">10</div>    					
    				</li>
    				<li class="day">
    					<div class="date">11</div>    					
    				</li>
    				<li class="day">
    					<div class="date">12</div>    					
    				</li>
    				<li class="day">
    					<div class="date">13</div>    					
    				</li>
    				<li class="day">
    					<div class="date">14</div>			
    				</li>
    				<li class="day">
    					<div class="date">15</div>    					
    				</li>
    				<li class="day">
    					<div class="date">16</div>    					
    				</li>
    			</ul>

    				<!-- Row #4 -->

    			<ul class="days">
    				<li class="day">
    					<div class="date">17</div>    					
    				</li>
    				<li class="day">
    					<div class="date">18</div>    					
    				</li>
    				<li class="day">
    					<div class="date">19</div>    					
    				</li>
    				<li class="day">
    					<div class="date">20</div>    					
    				</li>
    				<li class="day">
    					<div class="date">21</div>    					
    				</li>
    				<li class="day">
    					<div class="date">22</div>    					
    				</li>
    				<li class="day">
    					<div class="date">23</div>    					
    				</li>
    			</ul>

    					<!-- Row #5 -->

    			<ul class="days">
    				<li class="day">
    					<div class="date">24</div>    					
    				</li>
    				<li class="day">
    					<div class="date">25</div>    					
    				</li>
    				<li class="day">
    					<div class="date">26</div>    					
    				</li>
    				<li class="day">
    					<div class="date">27</div>    					
    				</li>
    				<li class="day">
    					<div class="date">28</div>    					
    				</li>
    				<li class="day">
    					<div class="date">29</div>    					
    				</li>
    				<li class="day">
    					<div class="date">30</div>    					
    				</li>
    			</ul>

    			<!-- Row #6 -->

    			<ul class="days">
    				<li class="day">
    					<div class="date">31</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">1</div> <!-- Next Month -->    					
    				</li>
    				<li class="day other-month">
    					<div class="date">2</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">3</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">4</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">5</div>    					
    				</li>
    				<li class="day other-month">
    					<div class="date">6</div>    					
    				</li>
    			</ul>

</div>
	 </div>

	 <br>
	 


	 <br>
<div class="center">
	 
	 <div id="events">
			<table>
				<tr>
				<th>Titel <button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
				<th>Datum <button id="btnsort1"><i class="fa fa-sort"></i></button></th>
				<th>Uhrzeit <button id="btnsort1"><i class="fa fa-sort"></i></button></th>
				<th>Raum <button id="btnsort1"><i class="fa fa-sort"></i></button></th>
				<th>Entfernen</th>
				</tr>
				<tr>
					<td>Veranstaltung1</td>
					<td>21.11.2020</td>
					<td>16:30</td>
					<td>Raum 1</td>
					<td><button id="btndel">Entfernen</button></td>
				</tr>
				<tr>
					<td>Veranstaltung2</td>
					<td>15.12.2020</td>
					<td>17:00</td>
					<td>Raum 2</td>
					<td><button id="btndel">Entfernen</button></td>
				</tr>
				<tr>
					<td>Veranstaltung3</td>
					<td>30.11.2020</td>
					<td>15:45</td>
					<td>Raum 2</td>
					<td><button id="btndel">Entfernen</button></td>
				</tr>
				<tr>
					<td>Veranstaltung4</td>
					<td>12.01.2021</td>
					<td>18:30</td>
					<td>Raum 1</td>
					<td><button id="btndel">Entfernen</button></td>
				</tr>
			</table>
		</div>
		</br>
		<h4>Veranstaltung hinzufügen:</h4>
		<div id="event_reg" class="event-reg">
			<br/>
			<label for="titel" th:text="#{event.title}">Titel</label><br />
			<input type="text" th:field="*{title}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="author" th:text="#{event.date}">Datum</label><br />
			<input type="text" th:field="*{date}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="preis" th:text="#{event.time}">Uhrzeit</label><br />
			<input type="text" th:field="*{time}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="genre" th:text="#{event.room}">Raum</label><br />
			<input type="text" th:field="*{room}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="inhalt" th:text="#{event.description}">Beschreibung</label><br />
			<textarea rows="5" cols="25" type="text" th:field="*{description}" th:errorclass="is-invalid" required="required"></textarea>
		</div>
		<br></br>
		<button id="add_event" type="button" class="submit_button">Hinzufügen</button>
		</br>
	 
</div>	

<!-- Script making all "accordion" elements collapsible -->
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
	deactivate_all();
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
	  hide_all();
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script>
function show_one_reg() {
    var x = document.getElementById("Select_reg").value;
	var book = document.getElementById("book_select_reg");
	var film = document.getElementById("film_select_reg");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function show_one_genre() {
    var x = document.getElementById("Select_genre").value;
	var book = document.getElementById("book_select_genre");
	var film = document.getElementById("film_select_genre");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function deactivate_all() {
	var all = document.getElementsByClassName("accordion");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].classList.remove("active");
	}
}

function hide_all() {
	var all = document.getElementsByClassName("panel");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].style.maxHeight = null;
	}
}
</script>

<footer>
<br>
<br>
<br>
</footer>

</body>
</html>