<!DOCTYPE html>
<html>
<head>
<title>Daten</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
  <h1>Buchladen</h1>
</div>

<div class="navbar">
  <a href="#" class="active">Mein Konto</a>
  <a href="#">Katalog</a>
  <a href="#">Warenkorb</a>
  <a href="#">Kalender</a>
  <a href="#" class="right">Abmelden</a>
</div>

<div class="topnav">
  <a href="#sort">Daten</a>
  <a href="#sort">Finanzübersicht</a>
  <a href="#sort">Warenverwaltung</a>
  <a href="#sort">Kundenverwaltung</a>
  <a href="#sort">Genresverwaltung</a>
  <a href="#sort">Veranstaltungen</a>
  <a href="#sort" class="active">Mitarbeiterverwaltung</a>
</div>

  <div class="center">
    <h2>${name} - Mitarbeiter Ansicht (Admin)</h2>
    <h5>Mitarbeiter-nummer: ${id}</h5>
</div>

<div class="center">
	 
	 <div id="workers">
			<table>
				<tr>
				<th>ID<button id="btnsort1"><i class="fa fa-sort"></i></button> </th>
				<th>Name<button id="btnsort1"><i class="fa fa-sort"></i></button></th>
				<th>Entfernen</th>
				</tr>
				<tr>
					<td>#81234567</td>
					<td>Timo Werner</td>
					<td><button id="btndel">Mitarbeiter entfernen</button></td>
				</tr>
				<tr>
					<td>#84435432</td>
					<td>Mario Götze</td>
					<td><button id="btndel">Mitarbeiter entfernen</button></td>
				</tr>
				<tr>
					<td>#89564534</td>
					<td>Toni Kroos</td>
					<td><button id="btndel">Mitarbeiter entfernen</button></td>
				</tr>
				<tr>
					<td>#83222156</td>
					<td>Manuel Neuer</td>
					<td><button id="btndel">Mitarbeiter entfernen</button></td>
				</tr>
			</table>
		</div>
		</br>
		<button id="new_worker_reg_btn" onclick="new_worker_registration()" style="width: 210px; height: 70px; text-align: center; font-size: 20px;">Mitarbeiter hinzufügen</button>
		<br>
		<div id="new_worker_reg" style="display: none;">
			<h4>Mitarbeiter hinzufügen:</h4>
			<div id="worker_reg" class="worker-reg">
				<br/>
				<label for="name" th:text="#{mitarbeiter.name}">Name</label><br />
				<input type="text" th:field="*{name}" th:errorclass="is-invalid" />
			</div>
			<br></br>
			<button id="add_worker" type="button" class="submit_button">Hinzufügen</button>
			</br>
		</div>
	 
	</div>	

<!-- Script making all "accordion" elements collapsible -->
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
	deactivate_all();
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
	  hide_all();
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script>
function new_worker_registration() {
	var x = document.getElementById("new_worker_reg");
	if(x.style.display == "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
}

function show_one_reg() {
    var x = document.getElementById("Select_reg").value;
	var book = document.getElementById("book_select_reg");
	var film = document.getElementById("film_select_reg");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function show_one_genre() {
    var x = document.getElementById("Select_genre").value;
	var book = document.getElementById("book_select_genre");
	var film = document.getElementById("film_select_genre");
    if(x == "buch"){
	   book.style.display = "block";
	   film.style.display = "none";
    } else if(x == "film") {
		book.style.display = "none";
		film.style.display = "block";
		}
}

function deactivate_all() {
	var all = document.getElementsByClassName("accordion");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].classList.remove("active");
	}
}

function hide_all() {
	var all = document.getElementsByClassName("panel");
	var i;
	for (i = 0; i < all.length; i++) {
		all[i].style.maxHeight = null;
	}
}
</script>

<footer>
<br>
<br>
<br>
</footer>

</body>
</html>