<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h2>Animated Accordion</h2>
<p>Click on the buttons to open the collapsible content.</p>

<button class="accordion" type="button" >Ware registrieren</button>
	 <div class="panel">
		 <select value="Artikel">
			<option>Buch</option>
			<option>CD/DVD</option>
		</select>
		<br></br>
		 <div id="book_select_reg" class="book-reg">
			<form th:value="#{catalog.add}" enctype="multipart/form-data">
			<label for="cover" th:text = "#{book.cover}"> Cover </label>
			<br></br>
			<input id="fileToUpload" type="file" value="Select image" name="fileToUpload" >
			<br></br>
			<input type="submit" th:value="#{catalog.add}" value="Upload image" />
			</form>
			<br/>
			<label for="titel" th:text="#{article.title}">Title</label><br />
			<input type="text" th:field="*{title}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="autor" th:text="#{article.author}">Autor</label><br />
			<input type="text" th:field="*{author}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="preis" th:text="#{article.price}">Price</label><br />
			<input type="text" th:field="*{price}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="verlag" th:text="#{article.publisher}">Publisher</label><br />
			<input type="text" th:field="*{publisher}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="isbn" th:text="#{article.isbn}">ISBN</label><br />
			<input type="text" th:field="*{isbn}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="genre" th:text="#{article.genre}">Genre</label><br />
			<input type="text" th:field="*{genre}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="inhalt" th:text="#{article.description}">Description</label><br />
			<textarea rows="5" cols="25" type="text" th:field="*{description}" th:errorclass="is-invalid" required="required"></textarea>
			</div>
			<div id="film_select_reg" class="film-reg">
			<form th:value="#{catalog.add}" enctype="multipart/form-data">
			<label for="cover" th:text = "#{film.cover}"> Cover </label>
			<br></br>
			<input id="fileToUpload" type="file" value="Select image" name="fileToUpload" >
			<br></br>
			<input type="submit" th:value="#{catalog.add}" value="Upload image" />
			</form>
			<br/>
			<label for="titel" th:text="#{article.title}">Title</label><br />
			<input type="text" th:field="*{title}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="author" th:text="#{article.author}">Autor</label><br />
			<input type="text" th:field="*{author}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="preis" th:text="#{article.price}">Price</label><br />
			<input type="text" th:field="*{price}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="genre" th:text="#{article.genre}">Genre</label><br />
			<input type="text" th:field="*{genre}" th:errorclass="is-invalid" required="required" />
			<br>
			<br>
			<label for="inhalt" th:text="#{article.description}">Description</label><br />
			<textarea rows="5" cols="25" type="text" th:field="*{description}" th:errorclass="is-invalid" required="required"></textarea>
		</div>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>